# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.php text eol=lf
*.xml text eol=lf
*.sh text eol=lf
*.env text eol=lf
*.html text eol=lf
*.phtml text eol=lf
*.yml text eol=lf
*.t3s text eol=lf
*.ts text eol=lf
*.css text eol=lf
*.js text eol=lf
*.less text eol=lf

# Force images/fonts to be handled as binaries
*.pdf binary
*.zip binary
*.gz binary
*.bz2 binary
*.jpg binary
*.jpeg binary
*.gif binary
*.png binary
*.t3x binary
*.t3d binary
*.exe binary
*.data binary
*.ttf binary
*.eof binary
*.eot binary
*.swf binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.ogg binary
*.flv binary
